<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="groep3.coach" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="groep3.coach.MAINACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayersActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="groep3.coach.PLAYERSACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DraftActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="groep3.coach.DRAFTACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdministrationActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="groep3.coach.ADMINISTRATIONACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MatchActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="groep3.coach.MATCHACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".WhistletoolActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="groep3.coach.WHISTLETOOLACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewteamActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="groep3.coach.NEWTEAMACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <provider
            android:name="database.Provider"
            android:authorities="coach"
            android:exported="true" >
        </provider>

        <activity android:name=".TeamActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
    </application>

</manifest>
